{% extends 'base.html' %}

{% block doc_title %} -Training
{% endblock doc_title %}

{% block content %}
<div class="home">
    <div class="background_image"
        style="background-image:url(https://images.unsplash.com/photo-1529465230221-a0d10e46fcbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
    </div>
</div>
<div class="container my-4" style="">
    <article>
        <h2 class="text-center text-dark my-3"> {{ training.title }} </h2>
        <h5> {{ training.date }}</h5>
        <img src="{{training.image.url }}" class="card-img-top">
        <p class="text-justify">{{ training.description|safe }}</p>
    </article>
    <button class="btn btn-primary btn-block">Apply</button>
</div>
{% endblock %}
 