{% extends 'base.html' %}

{% block doc_title %} -Training
{% endblock doc_title %}

{% block content %}
<div class="home">
    <div class="background_image"
        style="background-image:url(https://images.unsplash.com/photo-1529465230221-a0d10e46fcbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
    </div>
</div>
<div style="">
    <div class="text-center"><h1 class="py-3 text-dark"><u>Trainings</u></h1></div>
    <div class="mx-lg-5 mx-sm-2">
    <div class="row  py-5">
        {% for training in trainings %}
        <div class="card col-lg-3 col-md-4 col-sm-6 m-3 rounded shadow-lg bg-light border">
            <header> <a href="{% url 'trainings:detail' pk=training.pk %}">
                    <h3>{{ training.title }}</h3>
                </a>
                <h6>{{training.date }}</h6>
            </header>
            <div class="overflow-hidden" style="height:200px;">
                <img src="{{training.image.url }}" class="card-img-top">
            </div>
            <p>{{ training.description|safe|truncatewords:"20" }}</p>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}
