### Django ###
*.log
*.pot

#pycache
*.pyc
__pycache__/

### Django.Python Stack ###
*.py[cod]
*$py.class

# Vs code
.vscode

# Database
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
