[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytz = "*"
asgiref = ">=3.2.7"
sqlparse = ">=0.2.2"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-ckeditor = "*"
django-storages = "*"
boto3 = "*"
Django = ">=3.0.5"
Pillow = "*"

[requires]
python_version = "3.8"
