{% extends 'base.html' %}

{% block doc_title %} -Workshops
{% endblock doc_title %}

{% block content %}
<div class="home">
    <div class="background_image"
        style="background-image:url(https://images.unsplash.com/photo-1584550798009-baf84d83f72d?ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80)">
    </div>
</div>
<div style="background-color:grey;">
    <div class="text-center"><h1 class="py-3 text-dark"><u>Trainings</u></h1></div>
    <div class="mx-lg-5 mx-sm-2">
    <div class="row py-5">
        {% for workshop in workshops %}
        <div class="cards col-lg-3 col-md-4 col-sm-6 m-3 rounded shadow-lg bg-light">
            <header> <a href="{% url 'workshops:detail' pk=workshop.pk %}">
                    <h3>{{ workshop.title }}</h3>
                </a>
                <h6>{{workshop.date }}</h6>
            </header>
            <div class="overflow-hidden" style="height:200px;">
                <img class="" src="{{workshop.image.url }}" class="card-img-top">
            </div>
            <p>{{ workshop.description|safe|truncatewords:"20" }}</p>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
{% endblock %}
