.focus{
    position: relative;
    width: 100%;
    height: 100vh;
}

.card{
    border: none;
    background: #fff;
}

.img-area{
    width: 150px;
    height: 150px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}

.team-single:hover .side2{
    transform: rotateY(0deg);
    border-radius: 5px;
}

.team-single:hover .side1{
    transform: rotateY(180deg);
}

.content-area{
    transform: perspective(1000px);
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.side1{
    position: relative;
    transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.side2{
    position: absolute;
    top: 0;
    left: 0;
    background:white;
    transform: rotateY(-180deg);
}

.side1, .side2{
    backface-visibility: hidden;
    transition: 1s;
    transform-style: preserve-3d;
}

.side1 .card,.side2 .card{
    min-height: 312px;
}

.membername{
    color: brown;
    font-family: bignoodletitling;
    letter-spacing: 1px;
    font-weight: bolder;
}
.social-link{
    font-size: 28px;
    color: brown;
}

.login-box{
    margin-top:150px;
}

@media screen and (min-width: 480px) {

    .login-box{
            width: 25%;
    }

}

@media screen and (max-width: 480px) {

    .home_slider_content h3{
            font-size: 20px;
    }
}
