    body,
    html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #7abecc !important;
    }

    .user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #74cfbf;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

    }

    .form_container {
    margin-top: 20px;
    }

    #form-title {
    color: #fff;

    }

    .login_btn {
    width: 100%;
    background: #33ccff !important;
    color: white !important;
    }

    .login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
    }

    .login_container {
    padding: 0 2rem;
    }

    .input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    }

    .input_user,
    .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
    }

    #messages {
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    }

    .social-login .social-login-label {
    position: relative;
    margin: 30px 0 20px;
    text-align: center;
    }

    .social-login .label-text {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 30px;
    background-image: none;
    }

    .social-login .social-btn-item {
    display: flex;
    flex: 1;
    border-right: 1px solid #e7eeef;
    border-right-color: rgb(231, 238, 239);
    align-items: center;
    justify-content: space-around;
    }

    .social-login .social-btn-wrap {
    display: flex;
    }

    .ui-btn.ui-btn-plain {
    border-color: currentcolor;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    box-shadow: none;
    color: inherit;
    }

    .ui-btn .ui-content {
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .social-login .social-btn-icon {
    width: 44px;
    height: 44px;
    }

    .ui-btn.ui-btn-plain .ui-text {
    margin: 0;
    }
