{%extends 'base.html' %}
{% block doc_title%} - {{competition.title}}{%endblock%}

{%block content%}
<div class="home">
    <div class="background_image"
        style="background-image:url(https://images.unsplash.com/photo-1529465230221-a0d10e46fcbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
    </div>
</div>
<div class="container mt-5" style="padding-top: 25px;">

    <div class="card border ">
        <div class="card-header py-0 ">


            <h3 class="card-title text-center mt-2">{{ competition.title }}</h3>
            <h6 class="text-center"> {{ competition.date }} </h6>
        </div>
        <div class="card-body bg-dark text-light text-center ">
            <div class="mx-auto">
                {% if competition.image %}
                <a href="{{ competition.get_absolute_url }}">
                    <div class="mx-auto text-center" style="height:300px;">
                        <img src="{{ competition.image.url }}" class=' img-fluid h-100 mx-auto' />
                    </div>
                </a>
                {% endif %}
            </div>
            <div>
                <p class="card-text " style="height: ">
                    {{ competition.description|safe|linebreaks}}
                </p>
            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
{%endblock%}
