{% extends "base.html" %}

{% block doc_title %} - Blog {% endblock %}

{% block content %}
<div class="home">
    <div class="background_image"
        style="background-image:url(https://images.unsplash.com/photo-1519337265831-281ec6cc8514?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
    </div>
</div>
<div class="container" style="padding-top: 25px;">
    <h1> Are you sure you want to delete the following :</h1>
    <p> {{ object.title }}</p>
    <form method="POST"> {% csrf_token %}

        <button class="btn btn-danger"> Yes, delete </button>
        <button class="btn btn-success"> No </button>

    </form>
</div>

{% endblock %}
