{% extends "base.html" %}

{% block doc_title %} - {{ object.title }} {% endblock %}

{% block content %}
    <div class="mt-5 " style="height: 20px;"> </div>
    <div class="container" style="padding-top: 25px;"> 
        <div class="row">
            {% include 'blog/list-inline.html' with blog_post=object detail=True %}

            {% if request.user.is_authenticated %}
                {% if request.user == object.user %}
                    <div class="col-12">
                    <a class ="btn btn-secondary" href="{{ object.get_edit_url }}">Edit</a>
                    <a class ="btn btn-danger" href="{{ object.get_delete_url }}">Delete</a>
                    </div>
                {% endif %}    
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
