{% extends "base.html" %}

{% block doc_title %} - {{ blog_post.title }} {% endblock %}

{% block content %}

    
    <div class="container mt-5" style="padding-top: 25px;"> 
        
        <div class="card">
             <div class="card-header py-0 "  >
                <h3 class="card-title text-center mt-2">{{ object.title }}</h3>
                <small class="text-muted float-right"> By-{{ object.user }} </small>
                <small class="text-muted"> {{ object.publish_date }} </small>
             </div>
             <div class="card-body">
                <div class="mx-auto" >
                        {% if object.image %}
                        <a href="{{ object.get_absolute_url }}">
                        <div class="mx-auto text-center" style="height:300px;">
                        <img src = "{{ object.image.url }}" class=' img-fluid h-100 mx-auto' />
                        </div>
                        </a>
                        {% endif %}
                </div>
                <div>
                <p class="card-text " style="height: " >
                    
                    {% if truncate %}
                        {{ object.content|linebreaks|truncatewords:30 }}
                    {% else %}
                        {{ object.content|linebreaks}}
                    {% endif %}
                </p>
                </div>
             </div>
             <div class="card-footer">
                
            </div>
        </div>
          
          
            {% if request.user.is_authenticated %}
                {% if request.user == object.user %}
                    <div class="col-12">
                    <a class ="btn btn-secondary" href="{{ object.get_edit_url }}">Edit</a>
                    <a class ="btn btn-danger" href="{{ object.get_delete_url }}">Delete</a>
                    </div>
                {% endif %}    
            {% endif %}
     
      <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- comments -->
                {% with comments.count as total_comments %}
                <h2>{{ total_comments }} comments</h2>

                <p>
                    {% endwith %} {% for comment in comments %}
                </p>

                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span>
                    </p>
                    {{ comment.body | linebreaks }}
                </div>

                {% endfor %}
            </div>
        </div>
        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
                {% if new_comment %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting moderation
                </div>
                {% else %}
                <h3>Leave a comment</h3>
                <form method="POST" action='.' style="margin-top: 1.3em;">
                    {{ comment_form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock %}
