{% extends "base.html" %}

{% block doc_title %} - Blog List {% endblock %}

{% block content %}
    <div class="container" style="padding-top: 25px;">
        <div class="row">
        <a class="btn btn-success" href="{% url 'new_blog' %}"> New </a>
        </div>
        <div class="row">
            {% for object in object_list %}
                {% include 'blog/list-inline.html' with blog_post=object truncate=True detail=False %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
