{% extends "base.html" %}

{% block doc_title %} - Blog List {% endblock %}

{% block content %}
<div class="home">
    <div class="background_image"
        style="background-image:url(https://images.unsplash.com/photo-1519337265831-281ec6cc8514?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
    </div>
</div>
<!-- Search -->

<div class="home_search">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_search_container">
                    <div class="home_search_title">Search our site</div>
                    <div class="home_search_content">
                        <form action="/search/" class="home_search_form" id="home_search_form">
                            <div
                                class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                                <input class="search_input search_input_1" type="search" name="q"
                                    placeholder="Enter to Search" required="required">
                                <button class="home_search_button">search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div style="background-color: lightgrey" class="my-5">

        <div class="text-center p-5">
            <a class="btn btn-primary" href="{% url 'new_blog' %}">+ New Blog </a>
        </div>
        <div class="row" style="box-shadow: darkgray; border-radius:20px;">
        {% for object in object_list %}
        {% include 'blog/list-inline.html' with blog_post=object truncate=True detail=False %}
        {% endfor %}
    </div>
</div>
<div class="pagination justify-content-center">
    <span class="step-links">
        {% if object_list.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
        <a href="?page={{ object_list.next_page_number }}">next</a>
        <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
