<!doctype html>
{% load static %}

<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description"
			content="Developer Student Club is a technical club which is for the students, by the students and of the students. In today’s fast-growing world, technology is changing every second.DSC aims to bridge the gap between theoretical and practical knowledge for student.">
		<meta name="keywords" content="DSCRECBijnor, developer student club bijnor, DSC Bijnor, DSCREC, DSC">
		<meta name="author" content="Kumar Shanu">
		<link href="{%static 'images/logo.png'%}" rel="icon" />

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
			integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css">
		<link href="https://fonts.googleapis.com/css?family=Bangers|Great+Vibes|Lobster|Permanent+Marker&display=swap"
			rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
		<link href="{%static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="{%static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
		<link rel="stylesheet" type="text/css" href="{%static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
		<link rel="stylesheet" type="text/css" href="{%static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
		<link rel="stylesheet" type="text/css" href="{%static 'styles/main_styles.css' %}">
		<link rel="stylesheet" type="text/css" href="{%static 'styles/responsive.css' %}">
		<link rel="stylesheet" href="{%static 'css/dscstyle.css'%}" type="text/css">

		<!-- Animation -->
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

		<!-- Title -->
		<title>DSC{% block doc_title %}{% endblock %}</title>
	</head>

	<body style="padding-top:0px;">
		<script>
			AOS.init();
		</script>
		<div class="super_container">
			{% include 'navbar.html' %}
			{% include 'socialmedia.html' %}
			{% block content %}
			replace me
			{% endblock %}
			{% include 'footer.html' %}
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"
			integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
		<script src="{%static 'js/jquery-3.2.1.min.js' %}"></script>
		<script src="{%static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
		<script src="{%static 'plugins/Isotope/isotope.pkgd.min.js' %}"></script>
		<script src="{%static 'plugins/scrollTo/jquery.scrollTo.min.js' %}"></script>
		<script src="{%static 'plugins/easing/easing.js' %}"></script>
		<script src="{%static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
		<script src="{%static 'js/custom.js' %}"></script>
	</body>

</html>
