{% load static %}

<section>

	<!--footer-->
	<footer class="page-footer font-small pt-4" style="background-color: #3e4551;">

		<!-- Footer Links -->
		<div class="container text-center text-md-left">

			<!-- Grid row -->
			<div class="row">

				<hr class="clearfix w-100 d-md-none">

				<!-- Grid column -->
				<div class="col-md-2 mx-auto">

					<!-- Links -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Important Links</h5>

					<ul class="list-unstyled">
						<li><a href='http://recb.ac.in/' target="_blank">Rajkiya Engineering College</a></li>
						<li><a href="https://aktu.ac.in/" target="_blank">Uttar Pradesh Technical University</a></li>
						<li><a href="http://www.teqip.in/" target="_blank">TEQIP III </a></li>
					</ul>

				</div>
				<!-- Grid column -->

				<hr class="clearfix w-100 d-md-none">

				<!-- Grid column -->
				<div class="col-md-2 mx-auto">

					<!-- Links -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Resources </h5>

					<ul class="list-unstyled">
						<li><a href="#" target="_blank">E-Library</a></li>
						<li><a href="#" target="_blank">Online Classes</a></li>
						<li><a href="#" target="_blank">Free Workshop</a></li>
						<li><a href="#" target="_blank">Crack Interview</a></li>
					</ul>

				</div>
				<!-- Grid column -->

				<hr class="clearfix w-100 d-md-none">

				<!-- Grid column -->
				<div class="col-md-2 mx-auto">

					<!-- Links -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Support Us</h5>

					<ul class="list-unstyled">
						<li><a class="fa-circle-o" href="https://github.com" target="_blank">Git Hub</a></li>
						<li><a href="https://hackerrank.com" target="_blank">Hacker Rank</a></li>
						<li><a href="https://interviewbit.com" target="_blank">Interview Bit</a></li>
						<li><a href="https://hackerearth.com" target="_blank">Hacker Earth</a></li>
					</ul>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-3 mx-auto">

					<!-- Content -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Google Maps</h5>
					<a href="https://www.google.com/maps/place/Rajkiya+Engineering+College+Bijnor/@29.1362073,78.2205127,12.83z/data=!4m12!1m6!3m5!1s0x390b96ff929daa1b:0x6f84c5006226847c!2sRajkiya+Engineering+College+Bijnor!8m2!3d29.1322062!4d78.2465653!3m4!1s0x390b96ff929daa1b:0x6f84c5006226847c!8m2!3d29.1322062!4d78.2465653"
						target="_blank"><img src="{%static 'images/map.png'%}" class="img-fluid" width="150px"
							height="150px"></a>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-3 mx-auto">

					<!-- Content -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h5>
					<p>Rajkiya Engineering College
						Chandpur, Bijnor
						UP-246725
						dscrecbijnor@gmail.com
					</p>

				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->

		<hr>

		<!-- Call to action -->
		<ul class="list-unstyled list-inline text-center py-2">
			<li class="list-inline-item">
				<h5 class="mb-1">Register for free</h5>
			</li>
			<li class="list-inline-item">
				<a href="{% url 'signup' %}" class="btn btn-danger btn-rounded">Sign up!</a>
			</li>
		</ul>
		<!-- Call to action -->

		<hr>

		<!-- Social buttons -->
		<ul class="list-unstyled list-inline text-center">
			<li class="list-inline-item">
				<a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/dscrecbijnor/" target="_blank">
					<i class="fab fa-facebook-f"> </i>
				</a>
			</li>
			<li class="list-inline-item">
				<a class="btn-floating btn-tw mx-1" href="https://twitter.com/DscRec" target="_blank">
					<i class="fab fa-twitter"> </i>
				</a>
			</li>
			<li class="list-inline-item">
				<a class="btn-floating btn-gplus mx-1" href>
					<i class="fab fa-google-plus-g"> </i>
				</a>
			</li>
			<li class="list-inline-item">
				<a class="btn-floating btn-li mx-1" href="https://www.instagram.com/dscrecbijnor/?igshid=b8dp92k5qnhu"
					target="_blank">
					<i class="fab fa-instagram"> </i>
				</a>
			</li>
			<li class="list-inline-item">
				<a class="btn-floating btn-dribbble mx-1" href="https://dscrecbijnor.blogspot.com/" target="_blank">
					<i class="fas fa-blog"> </i>
				</a>
			</li>
		</ul>
		<!-- Social buttons -->

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2020 Copyright:
			<a href="/"> DSC All Right Reserved</a>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->
</section>
