{% load static %}

<section>

	<!--footer-->
	<footer class="page-footer font-small pt-4 trans_300" style="background-color: #3e4551;">

		<!-- Footer Links -->
		<div class="container text-center text-md-left">

			<!-- Grid row -->
			<div class="row">

				<hr class="clearfix w-100 d-md-none">

				<!-- Grid column -->
				<div class="col-md-2 mx-auto">

					<!-- Links -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Important Links</h5>

					<ul class="list-unstyled">
						<li><a href='http://recb.ac.in/' target="_blank">Rajkiya Engineering College</a></li>
						<li><a href="https://aktu.ac.in/" target="_blank">Uttar Pradesh Technical University</a></li>
						<li><a href="http://www.teqip.in/" target="_blank">TEQIP III </a></li>
					</ul>

				</div>
				<!-- Grid column -->

				<hr class="clearfix w-100 d-md-none">

				<!-- Grid column -->
				<div class="col-md-2 mx-auto">

					<!-- Links -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Resources </h5>

					<ul class="list-unstyled">
						<li><a href="#" target="_blank">E-Library</a></li>
						<li><a href="#" target="_blank">Online Classes</a></li>
						<li><a href="#" target="_blank">Free Workshop</a></li>
						<li><a href="#" target="_blank">Crack Interview</a></li>
					</ul>

				</div>
				<!-- Grid column -->

				<hr class="clearfix w-100 d-md-none">

				<!-- Grid column -->
				<div class="col-md-2 mx-auto">

					<!-- Links -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Support Us</h5>

					<ul class="list-unstyled">
						<li><a href="https://github.com" target="_blank">Git Hub</a></li>
						<li><a href="https://hackerrank.com" target="_blank">Hacker Rank</a></li>
						<li><a href="https://interviewbit.com" target="_blank">Interview Bit</a></li>
						<li><a href="https://hackerearth.com" target="_blank">Hacker Earth</a></li>
					</ul>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-3 mx-auto">

					<!-- Map -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Google Map</h5>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2072.2436803314977!2d78.24682372583999!3d29.132696061303097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390b96ff929daa1b%3A0x6f84c5006226847c!2sRajkiya%20Engineering%20College%20Bijnor!5e0!3m2!1sen!2sin!4v1601466196352!5m2!1sen!2sin"
						width="210" height="150" frameborder="0" style="border:0;" allowfullscreen=""
						aria-hidden="false" tabindex="0"></iframe>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-3 mx-auto">

					<!-- Content -->
					<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h5>
					<p>Rajkiya Engineering College
						Chandpur, Bijnor
						UP-246725
						dscrecbijnor@gmail.com
					</p>
					<div class="APP">
						<p class="text-center bold">Get the app.</p>
						<div class="row d-flex justify-content-center">
							<a class="z1VUo" href="https://play.google.com/store/apps/details?id=com.feelthecoder.dsc">
								<img alt="Available on Google Play" width="60%" height="80%"
									src="{%static 'images/app_link.png' %}"></a>
						</div>
					</div>

				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->

		<hr>
		{% if not user.is_authenticated %}

		<!-- Call to action -->
		<ul class="list-unstyled list-inline text-center py-2">
			<li class="list-inline-item">
				<h5 class="mb-1">Register for free</h5>
			</li>
			<li class="list-inline-item">
				<a href="{% url 'signup' %}" class="btn btn-danger btn-rounded">Sign up!</a>
			</li>
		</ul>
		<!-- Call to action -->
		{% endif %}
		<hr>

		<!-- Social buttons -->
		<ul class="list-unstyled list-inline text-center">
			<li class="list-inline-item">
				<a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/dscrecbijnor/" target="_blank">
					<i class="fab fa-facebook-f"> </i>
				</a>
			</li>
			<li class="list-inline-item">
				<a class="btn-floating btn-tw mx-1" href="https://twitter.com/DscRec" target="_blank">
					<i class="fab fa-twitter"> </i>
				</a>
			</li>
			<li class="list-inline-item">
				<a class="btn-floating btn-gmail mx-1" href="mailto:dscrecbijnor@gmail.com">
					<i class="fa fa-envelope"> </i>
				</a>
			</li>
			<li class="list-inline-item">
				<a class="btn-floating btn-li mx-1" href="https://www.instagram.com/dscrecbijnor/?igshid=b8dp92k5qnhu"
					target="_blank">
					<i class="fab fa-instagram"> </i>
				</a>
			</li>
			<li class="list-inline-item">
				<a class="btn-floating btn-dribbble mx-1" href="https://dscrecbijnor.blogspot.com/" target="_blank">
					<i class="fas fa-blog"> </i>
				</a>
			</li>
			<li class="list-inline-item">
				<a class="btn-floating btn-dribbble mx-1" href="https://discord.gg/QsS2Pxkb" target="_blank">
					<i class="fab fa-discord"> </i></a>
			</li>
		</ul>
		<!-- Social buttons -->

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2020 Copyright:
			<a href="{%static 'privacy policy-converted.pdf'%}" target="_blank"> DSC All Right Reserved</a>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->
</section>
