{% extends 'base.html' %}

{% block doc_title %} - New {% endblock %}

{% block content %}
	<div class="container">
                <div class="row container">
                    <div class="col-lg-5">
                        
                    </div>
                    <div class="col-lg-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1>Sign Up</h1>
                        </div>
                        <div class="panel-body">
                            <form action="signup_script.php" method="POST" >
                                <div  >
                                    <input type="text" placeholder="Name" name="name" class="form-control"><br>
                                    <input type="email" placeholder="E-mail" name="email" class="form-control"><br>
                                
                                    <input type="password" placeholder="Password" name="password" class="form-control">
                                <br>
                                <input type="number" placeholder="Contact" name="contact" class="form-control">
                                <br>
                                <input type="text" placeholder="City" name="city" class="form-control">
                                <br>
                                <input type="text" placeholder="Address" name="address" class="form-control">
                                <br>
                                <button class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                    </div>
            
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="save" />
            </div>
        </form>
    </div>
	
{% endblock %}