{% extends 'base.html' %}
{%load static%}
{% block doc_title %} - Home {% endblock %}

{% block content %}

    <section>
        <div class="container-fluid bgimg-1 mt-5" style="height: 600px;">
            <div class=" text-white mt-5" style="font-size: 5vw;margin:10vw ;padding:5vw">
                <p class="mt-5 " style="font-family:cursive;" >COME TOGETHER...<br>LEARN TOGETHER...<br>GROW TOGETHER...</p>
                <button type="button" class="btn btn-secondary" style="font-size: 3vw;">Join Us</button>
            </div>
            
        </div>
    </section>
   
    <!--About-->
    <section>
        <div class="container-fluid py-5">
            <h1 class="text-center">About the club</h1>
            <p class="text-center">Key features of our club</p>
            <div class="row">
                <div class="col-sm-3 text-center">
                    <h1> <i class="fas fa-heart "></i></h1>
                    <h3 >passion</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. molestias beatae quas?</p>
                </div>
                <div class="col-sm-3 text-center">
                    <h1> <i class="fas fa-heart "></i></h1>
                    <h3 >passion</h3>
                    <p >Lorem ipsum dolor, sit amet consectetur adipisicing elit. laboriosam temporibus, voluptas labore asperiores molestias beatae quas?</p>
                </div>
                <div class="col-sm-3 text-center">
                    <h1> <i class="fas fa-heart "></i></h1>
                    <h3>passion</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. ore asperiores molestias beatae quas?</p>
                </div>
                <div class="col-sm-3 text-center">
                   <h1> <i class="fas fa-heart "></i></h1>
                    <h3 >passion</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. stias beatae quas?</p>
                </div>
            </div>
        </div>
    </section>
    <!--Team-->
    <section>
        <div class="container-fluid py-5 " style="background-color: rgb(229, 226, 226);">
            <h1 class="text-center">THE TEAM</h1>
            <p class="text-center">The ones who run this club</p>
            <div class="row">
                
                {% for member in members %}
                <div class="col-sm-3 p-4">
                    <div class="card shadow m-2">
                        <a href=" {{ member.get_absolute_url }} " >
                        <img src="{{ member.pic.url }}" alt="Pic" class="card-img-top img-fluid">
                        <div class="card-body text-center">
                            <h2>{{ member.first_name }} {{ member.last_name }}</h2>
                            </a>
                            <p class="text-secondary h5">{{ member.title }}</p>
                            <p>{{ member.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
            <div class="text-center">
                <button type="button" class="" data-toggle="collapse" data-target="#rem"><i class="fas fa-chevron-circle-down" style="text-size:45px;"></i></button>
            </div>
            <div class="row collapse" id="rem">
                <div class="col-sm-3 p-4">
                    <div class="card shadow ">
                        <img src="{%static 'images/vikso.jpeg'%}" alt="rajat" class="card-img-top img-fluid">
                        <div class="card-body text-center">
                            <h2>Vikas</h2>
                            <p class="text-secondary h5">leader</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 p-4">
                    <div class="card shadow">
                        <img src="{%static 'images/vikso.jpeg'%}" alt="rajat" class="card-img-top img-fluid ">
                        <div class="card-body text-center">
                            <h2>Vikas</h2>
                            <p class="text-secondary h5">leader</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 p-4">
                    <div class="card shadow">
                        <img src="{%static 'images/vikso.jpeg'%}" alt="rajat" class="card-img-top img-fluid">
                        <div class="card-body text-center">
                            <h2>Vikas</h2>
                            <p class="text-secondary h5">leader</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 p-4">
                    <div class="card shadow">
                        <img src="{%static 'images/vikso.jpeg'%}" alt="rajat" class="card-img-top img-fluid">
                        <div class="card-body text-center">
                            <h2 >Vikas</h2>
                            <p class="text-secondary h5">leader</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--Stats-->
    <section>
        <div class="container-fluid p-5 bg-secondary">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <h2>25 </h2>
                    <h3>Members</h3>
                </div>
                <div class="col-sm-3 text-center">
                    <h2>10+</h2>
                    <h3>Events</h3>
                </div>
                <div class="col-sm-3 text-center">
                    <h2>33+</h2>
                    <h3>Members</h3>
                </div>
                <div class="col-sm-3 text-center">
                    <h2>25 </h2>
                    <h3>Members</h3>
                </div>
            </div>
        </div>

    </section>
    <!--work-->
    <section>
        <div class="container-fluid" style="height: 400px;">
            <h1 class="text-center">OUR WORK</h1>
        </div>
    </section>
    
{% endblock %}