{% extends 'base.html' %}

{% block doc_title %} - Courses {% endblock %}

{% block title %}
Available Courses
{% endblock %}

{% block content %}
<div class="home">
    <div class="background_image"
        style="background-image:url(https://images.unsplash.com/photo-1534665482403-a909d0d97c67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
    </div>
</div>
<!-- Search -->

<div class="home_search">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_search_container">
                    <div class="home_search_title">Search our site</div>
                    <div class="home_search_content">
                        <form action="/search/" class="home_search_form" id="home_search_form">
                            <div
                                class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                                <input class="search_input search_input_1" type="search" name="q"
                                    placeholder="Enter to Search" required="required">
                                <button class="home_search_button">search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="background-color:grey;">
    <div class="cards py-5">
        {% for course in courses %}
        <div class="card m-5 py-5">
            <header> <a href="{% url 'courses:detail' pk=course.pk %}">{{ course.title }}</a> </header>
            <div class="card-copy">
                {{ course.description }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="pagination justify-content-center">
    <span class="step-links">
        {% if courses.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ courses.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ courses.number }} of {{ courses.paginator.num_pages }}.
        </span>

        {% if courses.has_next %}
        <a href="?page={{ courses.next_page_number }}">next</a>
        <a href="?page={{ courses.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
