{% extends 'base.html' %}

{% block doc_title %} - {{ step.title }} {% endblock %}

{% block content %}
<div class="home" style="height: 110px;">
    <div class="background_image"
        style="background-image:url(https://images.unsplash.com/photo-1534665482403-a909d0d97c67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
    </div>
</div>
<div class="container" style="padding-top: 25px;">
    <article>
        <h2> <a href="{% url 'courses:detail' pk=step.course.pk %}">{{ step.course.title }} </a> </h2>
        <h3> {{ step.title }} </h3>
        {{ step.content|linebreaks }}
    </article>
</div>
{% endblock content %}
