{% extends 'base.html' %}

{% block doc_title %} -Events {% endblock doc_title %}
{% load static %}
{% block content %}
<div class="home">
    <div class="background_image"
        style="background-image:url(https://images.unsplash.com/photo-1529465230221-a0d10e46fcbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
    </div>
</div>
<!-- Search -->

<div class="home_search">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_search_container">
                    <div class="home_search_title">Search our site</div>
                    <div class="home_search_content">
                        <form action="/search/" class="home_search_form" id="home_search_form">
                            <div
                                class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                                <input class="search_input search_input_1" type="search" name="q"
                                    placeholder="Enter to Search" required="required">
                                <button class="home_search_button">search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section style="padding-top: 80px">
    <div class="container-fluid p-4 bgimg-2">
        <div class="row">
            <div class="col-sm-3 text-center">
                <h1 style="font-family:cursive;"><u>Events: </u></h1>
            </div>
        </div>
    </div>
</section>
<section>

    <div class="container">
        <div class="row d-flex ">
            {% for event in events %}
            <div class="col-md-4">
                <div class="card shadow border" style="margin-bottom: 1em;">
                    <div class="inner">
                        <img src="{{event.image.url}}" class="card-img-top" alt="pic" class="img-fluid">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">{{event.title}}</h4>
                        <h6>{{event.date}}</h6>
                        <p class="card-text">
                            {{event.description|safe|truncatewords:"20"}}</p>
                        <a href="{{event.get_absolute_url}}" class="btn btn-success">Know more...</a>
                    </div>
                </div>
            </div>
            {%endfor%}

        </div>
    </div>
    <div class="pagination justify-content-center">
        <span class="step-links">
            {% if object_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>

            {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</section>
{% endblock %}
